@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=MonteCarlo&family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=MonteCarlo&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@500&display=swap');
body{
    font-family: 'Dancing Script', cursive;
font-family: 'MonteCarlo', cursive;
font-family: 'Montserrat', sans-serif;
}
.navbar{
    background: #21212B;
    box-shadow: 2px 2px 2px gray;
    height: 10vh;
}
a{
    text-decoration: none;
    color: white;
}
.form{
    width: 30%;
    margin: auto;
}
.parent{
    display: flex;
}
.sidebar{
    background: #21212B;
    height: 90vh;
    width: 15%;
    color: white;
    text-align: center;
}
.sidebar ul li{
    margin: 20px;
    list-style: none;
    cursor: pointer;
    padding-top: 10px;
}
.sidebar ul li img{
    height: 30px;
    margin-right: 20px;
}
.sidebar .photo{
    border-radius: 30px;
    width: 50px;
    height: 50px;
    margin-top: 20px;
}
.body{
    font-family: 'Dancing Script', cursive;
    font-family: 'MonteCarlo', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    background: #17181F;
    width: 85%;
    color: white;
    padding-top: 30px;
}
.body small,h3,p{
    margin-left: 220px;
}
#task{
    width: 40%;
    margin-left: 250px;
    margin-bottom: 20px;
    background: #21212B;
    color: white;
}
#form{
    display: flex;
    align-items: center;
}
.btn{
    margin-top: -20px;
    margin-left: 4px;
}
.card{
    width: 60%;
    margin: auto;
}
.card{
    background: #21212B;
}
.list-group-item{
    background: #21212B;
    width: 95%;
    color: white;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list input{
    margin-right: 15px;
}
.overview{
    background: #21212B;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    height: 30px;
}